body {
    background-color: whitesmoke;
    color: black;
    font-size: 16px;
}

h2 {
    text-align: center;
}


nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    padding: 5px 100px;
    box-sizing: border-box;
    transition: 0.5s;
    background: #272727;
    opacity: 0.8;
    filter: alpha(opacity=80);
    z-index: 99999;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: flex-end;

}

.title {
    margin-right: auto;
}


nav li {
    color: whitesmoke;
    display: block;
    padding: 10px;
    transition: .5s;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    border-radius: 2px;
}

nav li.active,
nav li:hover
{
    color: #ffc746;
    background-color:#282828;
}



/* Slider Styling */
.slider {
    height: 500px;
    width: 100%;
    padding: 70px;

}

.slider-wrapper {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.slide {
    height: 100%;
    width: 30%;
    display: inline-block;
}